.hidden {
    display: none;
}

.center {
    margin: auto;
    width: 75%;
    border: 2px solid #ff6f00; /* حدود برتقالية داكنة */
    padding: 10px;
    background-color: #ffcc80; /* خلفية برتقالية فاتحة */
}

.centerBorderless {
    margin: auto;
    width: 75%;
    padding: 10px;
    background-color: #ffe0b2; /* خلفية برتقالية خفيفة */
}

.centerImage {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    border: 1px solid #ff8f00; /* حدود برتقالية فاتحة */
    background-color: #ffebcc; /* خلفية برتقالية خفيفة جدًا */
}

.centerCanvasMedium {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    border: 1px solid #ff6f00; /* حدود برتقالية داكنة */
    background-color: #ffcc80; /* خلفية برتقالية فاتحة */
}

.centerCanvasLarge {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    border: 1px solid #ff6f00; /* حدود برتقالية داكنة */
    background-color: #ffcc80; /* خلفية برتقالية فاتحة */
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* عرض نص متعدد الأسطر */
    padding: 8px;
    border: 1px solid #ff8f00; /* حدود برتقالية فاتحة */
    background-color: #fff3e0; /* خلفية برتقالية خفيفة */
    color: #d84315; /* لون النص برتقالي غامق */
    border-radius: 4px; /* زوايا مدورة */
    resize: vertical; /* يسمح بتغيير حجم الـ textarea عموديًا فقط */
}
